@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

#container {
  position: relative;
  width: 60%;
  aspect-ratio: 2/3;
  margin: auto;
  border: solid black 2px;
}

#imgDiv {
  position: absolute;
  inset: 0 0 0 0;
  padding-top: 40px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 30px 0 0 0;
}
      
#imgDiv > img {
  width: 95%;
  margin: 2px;
  scroll-snap-align: start none;
}

p {
  display: none;
}

h2 {
  display: none;
}

